* {
    font-family: sans-serif;
    border: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: white;
}

#test {
    display: block;
    position:fixed;
    height: 5.5rem;
    width: 100vw;
}


.logo-img {
    width: 7ch;
    height: 7ch;
    padding: 10px;
    border-radius: 30px;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    width: 100vw;
    border: 0px;
    margin: 0px;    
    background-color: darkblue;
    position:fixed;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75ch;
    padding-right: 0px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 0px;
    width: 30rem;
    padding: 0px;
}

.category {
    width: 8ch;
    list-style: none;
    cursor: pointer;
}

.overflow {
    overflow-x: visible;
    width: 12ch;
}

.resume {
    align-items: center;
    border: 2px solid lightseagreen;
    border-radius: 8px;
    color: white;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    height: 6ch;
}

.highlighted {
    color: lightseagreen;
}

@keyframes slideIn {    
    0% {        
      transform: translateY(-100px);    
    }    
    100% {        
      transform: translateY(0px);    
    }
  }
  
  @keyframes slideOut {    
    0% {        
      transform: translateY(0px);    
    }    
    100% {        
      transform: translateY(-100px);    
    }
  }


.slide-in {
    animation-duration: 0.5s;    
    animation-name: slideIn;    
    animation-fill-mode: forwards;    
    animation-timing-function:ease-in;
}

.slide-out {
    animation-duration: 0.5s;    
    animation-name: slideOut;    
    animation-fill-mode: forwards;    
    animation-timing-function: ease-in;
}


/* .slide-out {
    transition: all 0.5s ease-in-out;    
    transform: translateY(-100vw);
}

.slide-in {
    transform: translateY(0);
} */





/*///////////////////////*/

.excessive {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30ch;
    padding-bottom: 30ch
}