html {
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

.rating {
    display: flex;
    flex-direction: row-reverse;

}

.checked {
    color: orange;
    
}

.review {
    padding: 2rem;
    border: 1.5px solid white;
    border-radius: 8px;
    max-width: 40rem;
}

.customer__info {
    display: flex;
    padding: 0;
    height: 55px;
}

.pfp {
    height: 3rem;
    width: 3rem;
    border-radius: 60px;
    
}

.name {
    font-size: larger;
    margin-left: 10px;
    margin-top: 14px;
}

.right__side {
    position: relative;
    height: 65px;
    padding: 0;
    
}

.text {
    font-style: italic;
}